::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(71, 61, 139);
}

::-webkit-scrollbar-thumb {
    background: #c9005ab4;
    /*rgba(0, 0, 139, 0.233);*/
    background-image: linear-gradient(45deg, #c9005ab4, #ffb994);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(45deg, #c9005a, #e26d00e5);
}

#root {
    overflow-x: hidden;
}

.myBubbleUI {
    width: 100%;
    height: 90vh;
}

.child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.childComponent {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: #4b218f;
}

#textInfoCard h5 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 2560px) {
    #appbar-desktop {
        display: block;
    }

    #appbar-mobile {
        display: none;
    }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
    #appbar-desktop {
        display: block;
    }

    #appbar-mobile {
        display: none;
    }

    #projectCardTransform img {
        height: 58vh;
    }
}

/* FOR TABLET SIZES */
@media screen and (min-width: 700px) and (max-width: 1439px) {
    #appbar-desktop {
        display: none;
    }

    #appbar-mobile {
        display: block;
    }

    #appbar {
        width: 100%;
        background: linear-gradient(45deg, #17003d 50%, #25015f 90%);
        box-shadow: 0 4px 10px rgba(46, 46, 46, 0.5);
    }

    #Proj3dCards {
        /* margin: 100px 0;
                width: 100%; */
        perspective: none;
        transform-style: none;
        transition-property: none;
        transition-duration: none;
    }

    #projectCardTransform img {
        height: 80vh;
    }

    #Proj3dCards:hover #projectCardTransform {
        transform: none !important;
    }

    #projectCardTransform {
        transform: none !important;
        transition-property: none !important;
        transition-duration: none !important;
    }

    #infoCard {
        transform: none !important;
        transition-property: none !important;
        transition-duration: none !important;
    }

    #Proj3dCards:hover #infoCard {
        transform: none !important;
        box-shadow: none !important;
    }

    #infoCard {
        width: 100%;
    }

    #skill-logo-img {
        width: 8vw !important;
        height: 8vw !important;
    }

    /* #about #spline-avatar {
        height: 200px !important;
    } */
    #details-proj-container {
        width: 100%;
    }

    .swiper {
        width: 100%;
        height: 40vh;
    }

    #buttonBox {
        width: 150px;
        height: 150px;
    }

    #buttPlayApp:hover {
        background-size: 250px;
    }
}

@media screen and (max-width: 700px) {
    #appbar-desktop {
        display: none;
    }

    #appbar-mobile {
        display: block;
    }

    #appbar {
        width: 100%;
        background: linear-gradient(45deg, #17003d 50%, #25015f 90%);
        box-shadow: 0 4px 10px rgba(46, 46, 46, 0.5);
    }

    #Proj3dCards {
        /* margin: 80px 0;
                width: 100%; */
        perspective: none;
        transform-style: none;
        transition-property: none;
        transition-duration: none;
    }

    #projectCardTransform img {
        height: 100vh;
    }

    #Proj3dCards:hover #projectCardTransform {
        transform: none !important;
    }

    #projectCardTransform {
        transform: none !important;
        transition-property: none !important;
        transition-duration: none !important;
    }

    #infoCard {
        transform: none !important;
        transition-property: none !important;
        transition-duration: none !important;
    }

    #Proj3dCards:hover #infoCard {
        transform: none !important;
        box-shadow: none !important;
    }

    #infoCard {
        width: 100%;
    }

    #skill-logo-img {
        width: 10vw !important;
        height: 10vw !important;
    }

    /* #about #spline-avatar {
        height: 200px !important;
    } */
     #details-proj-container {
        width: 100%;
     }

    .swiper {
        width: 100%;
        height: 30vh;
    }

    #buttonBox {
        width: 150px;
        height: 150px;
    }

    #buttPlayApp:hover {
        background-size: 250px;
    }
}